<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitForge">



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".presentation.activity.ShopActivity"
            android:exported="false"
            android:theme="@style/Theme.HabitForge" />
        <activity
            android:name=".presentation.activity.NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.HabitForge.NoActionBar" />
        <activity
            android:name=".presentation.activity.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".presentation.activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.TaskCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.TaskDetailsActivity"
            android:exported="false"
            android:label="Task Details"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />


        <activity
            android:name=".presentation.activity.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CategoryListActivity"
            android:exported="false"
            android:label="Categories" />

        <activity
            android:name=".presentation.activity.TaskListActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.activity.FullTaskInfoActivity"
            android:exported="false" />

    </application>

</manifest>